.example-spacer
  flex: 1 1 auto
  text-align: center

.body
  background-color: #646464

.mat-card
  margin: 1%

.creditos
  height: 5px

.artista
  text-align: right
  font-size: 0.7em

@media (min-width: 992px)
  .mat-card
    margin: 1% 25% 1% 25%

