
<div class="body">
<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="voltar" [routerLink]="'/cifras'">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
  <span class="example-spacer">{{ cifra.titulo }}</span>

  <button mat-button (click)="openDialog()">{{ tom }}</button>

</mat-toolbar>



  <mat-card class=".mat-card">


      <div *ngFor="let secao of cifra.secoes" class="item">

        <app-secao [secao]="secao"></app-secao>

      </div>

      <p class="artista"> {{ cifra.compositor }}</p>

  </mat-card>

  <div class="creditos">

  </div>

</div>
