$fonte-principal: Helvetica, sans-serif

.conteudo
  margin: auto
  width: 60%
  padding: 10px

#titulo
  font-family: $fonte-principal
  text-align: center

#painel-busca
  display: grid
  grid-template-columns: 3fr 1fr 1fr
  padding-bottom: 30px
  border-bottom: 1px solid #ddd9d9

#btn-nova-cifra
  margin: 0 10px 0 10px
  padding: 10px 0 10px 0
  background-color: #222121
  border-radius: 5px
  border: none
  color: white

#btn-pesquisar
  margin-right: 20px
  background-color: #222121
  border-radius: 0px 5px 5px 0px
  border: none
  color: white

.cifra
  border-bottom: 1px solid #ddd9d9

.link-cifra
  text-decoration: none

.nome-cifra
  font-family: $fonte-principal
  color: black
  font-size: 25px
  margin-bottom: 0
  margin-top: 20px

.compositor-cifra
  font-family: $fonte-principal
  color: #a8a1a1
  font-size: 16px
  margin-top: 3px
  margin-bottom: 20px

#busca
  margin-left: 10px
  border-radius: 5px 0 0 5px
