.linha
    position: relative
    //white-space: nowrap

h1
  margin: 0

#nota-ensaio
  text-align: right
  color: #999999
  margin-top: 10px

#cabecalho
  margin-top: 40px

#secao-titulo
    border-bottom: 1px solid #ddd9d9
    line-height: 0.1em

#nome-titulo
    background:#424242
    padding-right: 10px

.linhas
  padding-top: 40px

//Smartphones
@media (min-width: 0px)
  p
    font-size: 14px
  h1
    font-size: 16px
  #nota-ensaio
    font-size: 11px


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px)
  p
    font-size: 14px
  h1
    font-size: 20px

// Medium devices (tablets, 768px and up)
@media (min-width: 768px)
  p
    font-size: 18px
  h1
    font-size: 24px
  #nota-ensaio
    font-size: 17px

// Large devices (desktops, 992px and up)
@media (min-width: 992px)
  p
    font-size: 20px
  h1
    font-size: 26px

