$fonte-principal: sans-serif
#secao
    border-top: 1px solid #d4d9d5
    margin-top: 10px
    padding-top: 10px

#cabecalho
    padding-bottom: 10px

#secao-titulo
    font-family: $fonte-principal
    font-size: 20px
    display: inline-block

#nota-ensaio
    text-align: right
    font-style: italic
    display: inline-block
    float: right
    margin-bottom: 0
    font-family: $fonte-principal
    color: #a6aba7
    font-size: 14px

.linha
    font-family: $fonte-principal
    position: relative
    padding-bottom: 16px
    white-space: nowrap
